{% if pagination.pages > 0 %}
    <nav role="navigation" class="flex items-center my-8">
        <a href="{{ pagination.previous.url }}">{{ pagination.previous.title }}</a>
        <a href="{{ pagination.next.url }}">{{ pagination.next.title }}</a>
    </nav>  
{% endif %}