{% if pagination.pages > 0 %}
    <nav role="navigation" class="flex items-center my-8">
        {% if pagination.previous %}
            <a class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium" href="{{ pagination.previous.url }}">{{ pagination.previous.title }}</a>    
        {% endif %}
        {% if pagination.next %}
            <a class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium" href="{{ pagination.next.url }}">{{ pagination.next.title }}</a>
            
        {% endif %}
    </nav>  
{% endif %}