
 
 {% case media.media_type %}
    {% when 'image' %}
        <img src="{{ media | img_url: 'medium' }}" alt="{{ media.preview_image.alt }}" class="w-1/2 h-full object-cover" id="p-imag">
    {%  when 'external_video' %} 
      {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}
    {% else %}
      <h1>nothing found</h1>
        
{% endcase %}
